<div id="content">
    <!-- widget grid -->
    <section id="widget-grid" widget-grid>
        <!-- row -->
        <div class="row">
            <article class="col-sm-12">
                <div cvs-sales-data-list></div>
            </article>
        </div>
        <!-- end row -->

        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-sm-12">
                <div cvs-sales-data-upload></div>
            </article><!-- WIDGET END -->
        </div><!-- end row -->
    </section><!-- end widget grid -->
</div>
