<div id="content">
    <!-- row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div cvs-company-profile></div>
                    </div>
                    <!-- UI Information -->
                    <div class="col-sm-12 col-md-12 col-lg-6">
                       <div class="row">
                            <div class="col-sm-12">
                                <div class="alert well fade in">
                                    <button class="close" data-dismiss="alert">
                                        &#xD7;
                                    </button>
                                    <h1><span class="semi-bold slideInRight fast animated"><i class="fa fa-lg fa-fw fa-user"></i>Company Profile Page</span></h1>
                                    <p>
    									Company details UI to show company details. In addition the following actions can be carried out:
                                        <ol>
                                            <li>Set bespoke currency for the company.</li>
                                            <li>View company statistics.</li>
                                            <li>Define headers mapping.</li>
                                            <li>Edit company information.</li>
                                            <li>Delete company.</li>
                                            <li>Attach a parent company.</li>
    										<li>View the hierarchy the company belongs to.</li>
    										<li>Attach managing account.</li>
                                        </ol>
                                        An additional "Employees" section was added (out of our scope) just to show the linking possibilities when dealing with accounts.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>