<header id="header"  class="animated fadeInDown" >

    <div id="logo-group">
        <span id="logo"> <img src="assets/img/logo.png" alt="SmartAdmin"> </span>
    </div>

    <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Need an account?</span> <a
            ui-sref="register" class="btn btn-success">Create account</a> </span>

</header>
<div id="main" role="main"  class="animated fadeInDown" >

    <div id="content" class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
                <h1 class="txt-color-green login-header-big">Customer Value System</h1>
                <div class="hero">

                    <div class="pull-left login-desc-box-l">
                        <h4 class="paragraph-header">Know your customers, win your market! Get your first Customer Value report today and join the "know-your-customer" move!</h4>
                        <div class="login-app-icons">
                            <a href-void class="btn btn-success btn-sm">Request A Demo</a>
                            <a href-void class="btn btn-success btn-sm">Find out more</a>
                        </div>
                    </div>

                    <img src="assets/img/demo/iphoneview.png" class="pull-right display-image" alt="" style="width:210px">

                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="about-heading">Are you ready to take off?</h5>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="about-heading">Not just another marketing tool!</h5>
                        <p>
                            Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi voluptatem accusantium!
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                <div class="well no-padding">
                    <form action="#/login" id="login-form" class="smart-form client-form">
                        <header>
                            Forgot Password
                        </header>

                        <fieldset>

                            <section>
                                <label class="input"> <i class="icon-append fa fa-envelope"></i>
                                    <input type="email" name="email" placeholder="Enter your email address">
                                    <b class="tooltip tooltip-bottom-right">Please enter email address for password reset</b></label>
                                    <div class="note">
                                        <a ui-sref="login">I remembered my password!</a>
                                    </div>
                            </section>
                        </fieldset>
                        <footer>
                            <button type="submit" class="btn btn-primary">
                                Reset Password
                            </button>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</div>