<header id="header"  class="animated fadeInDown" >

    <div id="logo-group">
        <span id="logo"> <img src="assets/img/logo.png" alt="SmartAdmin"> </span>
    </div>

    <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Need an account?</span> <a
           ui-sref="register" class="btn btn-success">Create account</a> </span>

</header>

<div id="main" role="main"  class="animated fadeInDown">
    <div id="content" class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
                <h1 class="txt-color-green login-header-big">Customer Value System</h1>

                <div class="hero">
                    <div class="pull-left login-desc-box-l">
                        <h4 class="paragraph-header">Know your customers, win your market! Get your first Customer Value report today and join the "know-your-customer" move!</h4>

                        <div class="login-app-icons">
                            <a ui-sref="app.dashboard" class="btn btn-success btn-sm">Request A Demo</a>
                            <a href-void class="btn btn-success btn-sm">Find out more</a>
                        </div>
                    </div>
                    <img src="assets/img/demo/iphoneview.png" class="pull-right display-image" alt style="width:210px">
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="about-heading">Are you ready to take off?</h5>

                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="about-heading">Not just another marketing tool!</h5>

                        <p>
                            Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta
                            nobis est eligendi voluptatem accusantium!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                <div class="well no-padding">
                    <form action="#/profile/1" id="login-form" class="smart-form client-form" data-smart-validate-form novalidate>
                        <header>
                            Sign In
                        </header>
                        <fieldset>
                            <div class="alert alert-danger fade in">
                                <button class="close" data-dismiss="alert">
                                    ×
                                </button>
                                <i class="fa-fw fa fa-times"></i>
                                Wrong email/password combination! You have 2 remaining tries!
                            </div>
                            <section class="form-group">
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    <input type="email" name="email"
                                           data-smart-validate-input
                                           data-required
                                           data-email
                                           data-message-required="Please enter your email address"
                                           data-message-email="Please enter a VALID email address"
                                           placeholder="E-mail">
                                    <b class="tooltip tooltip-bottom-right">Please enter your email address</b>
                                </label>
                            </section>
                            <section class="form-group">
                                <label class="input"> <i class="icon-append fa fa-lock"></i>
                                   <input type="password" name="password"
                                          data-smart-validate-input
                                          data-required
                                          data-minlength="3"
                                          data-maxnlength="20"
                                          data-message="Please enter your password"
                                          placeholder="Password">
                                    <b class="tooltip tooltip-bottom-right">Please enter your password</b>
                                </label>
                                <div class="note">
                                    <a ui-sref="forgotPassword">Forgot password?</a>
                                </div>
                            </section>
                            <!-- 
                                <section>
                                    <label class="checkbox">
                                        <input type="checkbox" name="remember" checked>
                                        <i></i>Stay signed in</label>
                                </section>
                            -->
                        </fieldset>
                        <footer>
                            <button type="submit" class="btn btn-primary">
                                Sign in
                            </button>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
