<aside id="left-panel">

    <!-- User info -->
    <div cvs-account-info></div>
    <!-- end user info -->

    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul data-smart-menu ng-controller="MenuController">
			<!-- Profile -->
			<li data-ui-sref-active="active" class="top-menu-invisible">
                <a data-ui-sref="app.profile.details({profileId: loggedin_user.id})">
                    <i class="fa fa-lg fa-fw fa-user"></i>
                    <span class="menu-item-parent">{{i18n.getTranslation('My Profile')}}</span>
                    <!-- <span class="badge pull-right inbox-badge bg-color-green">UD</span> -->
                </a>
            </li>

            <!-- Inbox -->
			<li data-ui-sref-active="active">
                <a data-ui-sref="app.inbox.folder">
                    <i class="fa fa-lg fa-fw fa-envelope"></i>
                    <span class="menu-item-parent">{{i18n.getTranslation('Inbox')}}</span>
                    <!-- <span unread-messages-count class="badge pull-right inbox-badge"></span> -->
                    <span class="badge pull-right inbox-badge bg-color-green">UD</span>
                </a>
            </li>

            <!-- Products -->
            <li data-ui-sref-active="active">
                <a data-ui-sref="app.products">
                    <i class="fa fa-lg fa-fw fa-archive"></i>
                    <span class="menu-item-parent">{{i18n.getTranslation('Products')}}</span>
                    <!-- <span class="badge pull-right inbox-badge bg-color-green">UD</span> -->
                </a>
            </li>

			<!-- Reporting -->
			<li data-menu-collapse>
                <a  href="#">
                    <i class="fa fa-lg fa-fw fa-book"></i> <span class="menu-item-parent">{{i18n.getTranslation('Reporting')}}</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.salesdata">
                        	<i class="fa fa-database"></i>
                            <span class="menu-item-parent">{{i18n.getTranslation('Sales Data')}}</span>
                        	<span class="badge pull-right inbox-badge bg-color-green">UD</span>
                        </a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.ownedproducts">
                            <i class="fa fa-files-o"></i>
                            <span class="menu-item-parent">{{i18n.getTranslation('Owned Products')}}</span>
                            <span class="badge pull-right inbox-badge bg-color-green">UD</span>
                        </a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.reports">
                        	<i class="fa fa-file-text"></i>
                            <span class="menu-item-parent">{{i18n.getTranslation('Reports')}}</span>
                        	<span class="badge pull-right inbox-badge bg-color-green">UD</span>
                        </a>
                    </li>
                </ul>
            </li>

			<!-- Basket -->
            <!--
    			<li data-ui-sref-active="active">
                    <a data-ui-sref="app.profile">
                        <i class="fa fa-lg fa-fw fa-shopping-cart"></i>
                        <span class="menu-item-parent">{{i18n.getTranslation('Basket')}}</span>
                        <span class="badge pull-right inbox-badge bg-color-green">UD</span>
                    </a>
                </li>
            -->
            
            <!-- Purchases -->
            <li data-menu-collapse>
                <a  href="#">
                    <i class="fa fa-lg fa-fw fa-credit-card"></i> <span class="menu-item-parent">{{i18n.getTranslation('Purchases')}}</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.order">
                            <i class="fa fa-lg fa-fw fa-bars"></i>
                            <span class="menu-item-parent">{{i18n.getTranslation('Orders')}}</span>
                            <!-- <span class="badge pull-right inbox-badge bg-color-green">UD</span> -->
                        </a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.invoice">
                            <i class="fa fa-lg fa-fw fa-list-alt"></i>
                            <span class="menu-item-parent">{{i18n.getTranslation('Invoices')}}</span>
                            <!-- <span class="badge pull-right inbox-badge bg-color-green">UD</span> -->
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Profiles -->
            <li data-ui-sref-active="active">
                <a data-ui-sref="app.profile">
                    <i class="fa fa-lg fa-fw fa-users"></i>
                    <span class="menu-item-parent">{{i18n.getTranslation('Profiles')}}</span>
                    <!-- <span class="badge pull-right inbox-badge bg-color-green">UD</span> -->
                </a>
            </li>
			
			<!-- Companies -->
			<li data-ui-sref-active="active">
                <a data-ui-sref="app.company">
                    <i class="fa fa-lg fa-fw fa-building"></i>
                    <span class="menu-item-parent">{{i18n.getTranslation('Companies')}}</span></span>
                    <!-- <span class="badge pull-right inbox-badge bg-color-green">UD</span> -->
                </a>
            </li>

            <!-- Business Intel -->
            <li data-menu-collapse required-roles="isAdmin, canViewSystemLog">
                <a href="#"><i class="fa fa-lg fa-fw fa-info"></i><span class="menu-item-parent">{{i18n.getTranslation('Business Intel')}}</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.intel.log">
                            <i class="fa fa-pencil-square-o"></i>
                            <span class="menu-item-parent">{{i18n.getTranslation('System Logs')}}</span>
                            <!-- <span class="badge pull-right inbox-badge bg-color-green">UD</span> -->
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

	<span class="minifyme" data-action="minifyMenu" minify-menu>
		<i class="fa fa-arrow-circle-left hit"></i>
	</span>
</aside>
