<div class="well" id="item-44761-widget" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-color="darken" data-jarvis-widget>
	<!-- widget div-->
	<div>
		<!-- widget content -->
		<div class="widget-body no-padding">
			<div class="well widget-body-toolbar" ng-class="{'bg-color-red': (invoice.status == 'unpaid'), 'bg-color-green': (invoice.status == 'paid'), 'bg-color-orange': (invoice.status == 'refund')}">
				<div class="row">
					<div class="col-sm-4">
						<span class="font-lg txt-color-white"><strong>{{invoice.status | capitalize}}</strong></span>
					</div>
					<div class="col-sm-8 text-align-right" ng-show="invoice.status == 'unpaid'">
						<div class="btn-group">
							<a href-void class="btn btn-sm btn-success" ng-click="settleInvoice(invoice.id)"> <i class="fa fa-credit-card"></i> Mark as Paid</a>
						</div>
					</div>
				</div>
			</div>
			<div class="padding-10">
				<br>
				<div class="pull-left">
					<img src="assets/img/logo.png" width="150" height="32" alt="invoice icon">
					<address>
						<br>
						<strong>Customer Value AB</strong>
						<br>
						Sveavegen 38,
						<br>
						Stockholm 17070, Sweden
						<br>
						<abbr title="Phone">P:</abbr> (123) 456-7890
					</address>
				</div>
				<div class="pull-right">
					<h1 class="font-400">invoice</h1>
				</div>
				<div class="clearfix"></div>
				<br>
				<br>
				<div class="row">
					<div class="col-sm-9">
						<h4 class="semi-bold">{{invoice.payer.name}}</h4>
						<address>
							<strong>{{invoice.payer.purchaser}}</strong>
							<br>
							{{invoice.payer.postcode}} {{invoice.payer.address}},
							<br>
							{{invoice.payer.city}}, {{invoice.payer.country}}
							<br>
							<abbr title="Phone">P:</abbr> {{invoice.payer.phone}}
						</address>
					</div>
					<div class="col-sm-3">
						<div>
							<div>
								<strong>INVOICE NO :</strong>
								<span class="pull-right"> #{{invoice.number}} </span>
							</div>
						</div>
						<div>
							<div class="font-md">
								<strong>INVOICE DATE :</strong>
								<span class="pull-right"> <i class="fa fa-calendar"></i> {{invoice.due_date}} </span>
							</div>
						</div>
						<br>
						<div class="well well-sm  bg-color-darken txt-color-white no-border">
							<div class="fa-lg">
								Total Due :
								<span class="pull-right"> {{invoice.invoice_total + (invoice.invoice_total * invoice.VAT/100)}} SEK ** </span>
							</div>
						</div>
						<br>
						<br>
					</div>
				</div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="text-center">QTY</th>
							<th>ITEM</th>
							<th>DESCRIPTION</th>
							<th>PRICE</th>
							<th>SUBTOTAL</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in invoice.items">
							<td class="text-center"><strong>{{item.qty}}</strong></td>
							<td><a href-void>{{item.name}}</a></td>
							<td>{{item.description}}</td>
							<td>{{item.unit_price}}:-</td>
							<td>{{item.qty * item.unit_price}}:-</td>
						</tr>
						<tr>
							<td colspan="4">Total</td>
							<td><strong>{{invoice.invoice_total}}:-</strong></td>
						</tr>
						<tr>
							<td colspan="4">VAT</td>
							<td><strong>{{invoice.VAT}}%</strong></td>
						</tr>
					</tbody>
				</table>
				<div class="invoice-footer">
					<div class="row">
						<div class="col-sm-7">
							<div class="payment-methods">
								<h5>Payment Methods</h5>
								<img src="assets/img/invoice/paypal.png" width="64" height="64" alt="paypal">
								<img src="assets/img/invoice/americanexpress.png" width="64" height="64" alt="american express">
								<img src="assets/img/invoice/mastercard.png" width="64" height="64" alt="mastercard">
								<img src="assets/img/invoice/visa.png" width="64" height="64" alt="visa">
							</div>
						</div>
						<div class="col-sm-5">
							<div class="invoice-sum-total pull-right">
								<h3><strong>Total: <span class="text-success">{{invoice.invoice_total + (invoice.invoice_total * invoice.VAT/100)}} SEK</span></strong></h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<p class="note">**To avoid any excess penalty charges, please make payments within 30 days of the due date. There will be a 2% interest charge per month on all late invoices.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end widget content -->
	</div>
	<!-- end widget div -->
</div>
