<div class="well well-light well-sm no-margin no-padding">
    <div class="row">
        <div class="col-sm-12">
            <div id="myCarousel" class="carousel fade profile-carousel">
                <div class="air air-bottom-right padding-10">
                    <div class="air air-bottom-right padding-10">
                    <div data-dropdown>
                        <a id="dLabel" role="button" class="btn btn-lg btn-success dropdown-toggle" href-void><i class="fa fa-cogs"></i> Actions <span class="caret"></span> </a>
                        <ul class="dropdown-menu multi-level" role="menu">
                            <li>
                                <a href-void ng-click="showModal('bespokeCurrencyModal')">Set Bespoke Currency</a>
                            </li>
                            <li>
                                <a href-void ng-click="showModal('editCompanyInfoModal')">Edit Information</a>
                            </li>
                            <li>
                                <a href-void ng-click="showModal('attachManagingAccountModal')">Attach Managing Account</a>
                            </li>
                            <li>
                                <a href-void ng-click="showModal('attachToCompanyModal')">Attach to Company</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href-void ng-click="deleteCompany(company.id)"><i class="fa fa-trash-o"></i> Delete Company</a>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
                <div class="air air-top-left padding-10">
                    <h4 class="txt-color-black font-md"><strong>Jan 1, 2014</strong></h4>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                </ol>
                <div class="carousel-inner">
                    <!-- Slide 1 -->
                    <div class="item active">
                        <img src="assets/img/demo/m3.jpg" alt="demo user">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-3 profile-pic">
                    <img ng-src="{{company.managing_account.image}}">
                </div>
                <div class="col-sm-6">
                    <h1>{{company.name}}
                        <span ng-show="company.parent_company">
                            <br />
                            <small> Parent Company: <a href-void>{{company.parent_company.name}}</a></small>
                        </span>
                        <br />
                        <small> Managing Account: <a ui-sref="app.profile.details({profileId: 1})">{{company.managing_account.first_name}} {{company.managing_account.last_name}}</a></small>
                    </h1>
                    <ul class="list-unstyled">
                        <li>
                            <p class="text-muted">
                                <i class="fa fa-pencil"></i>&#xA0;&#xA0;{{company.reg_number}}
                            </p>
                        </li>
                        <li>
                            <p class="text-muted">
                                <i class="fa fa-map-marker"></i>&#xA0;&#xA0;{{company.primary_address}}
                            </p>
                        </li>
                        <li>
                            <p class="text-muted">
                                <i class="fa fa-map-marker"></i>&#xA0;&#xA0;{{company.secondary_address}}
                            </p>
                        </li>
                        <li>
                            <p class="text-muted">
                                <i class="fa fa-map-marker"></i>&#xA0;&#xA0;{{company.postcode}}
                            </p>
                        </li>
                        <li>
                            <p class="text-muted">
                                <i class="fa fa-globe"></i>&#xA0;&#xA0;{{company.city}}, {{countries[company.country]}}
                            </p>
                        </li>
                        <li>
                            <p class="text-muted">
                                <i class="fa fa-phone"></i>&#xA0;&#xA0;{{company.phone}}
                            </p>
                        </li>
                        <li>
                            <p class="text-muted">
                                <i class="fa fa-envelope"></i>&#xA0;&#xA0;<a href="mailto:{{company.managing_account.email}}">{{company.managing_account.email}}</a>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h1>
                        <small>Employees</small>
                    </h1>
                    <ul class="list-inline friends-list">
                        <li>
                            <img src="assets/img/avatars/1.png" alt="friend-1">
                        </li>
                        <li>
                            <img src="assets/img/avatars/2.png" alt="friend-2">
                        </li>
                        <li>
                            <img src="assets/img/avatars/3.png" alt="friend-3">
                        </li>
                        <li>
                            <img src="assets/img/avatars/4.png" alt="friend-4">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr />
            <div class="padding-10">
                <ul class="nav nav-tabs tabs-pull-right">
                    <li class="active">
                        <a href="#a1" data-toggle="tab">Company Statistics</a>
                    </li>
                    <li>
                        <a href="#a2" data-toggle="tab">Headers Mapping</a>
                    </li>
                    <li>
                        <a href="#a3" data-toggle="tab">Company Hierarchy</a>
                    </li>
                </ul>
                <div class="tab-content padding-top-10">
                    <div class="tab-pane fade in active" id="a1">
                        Company statistics can go here!
                    </div>
                    <div class="tab-pane fade in" id="a2">
                        Headers mapping setting go here!
                    </div>
                    <div class="tab-pane fade in" id="a3">
                        <div class="tree">
                            <ul data-smart-treeview data-items="company.hierarchy" role="tree"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

    <!-- Set Bespoke Currency -->
    <div cvs-modal-window title="Set Bespoke Currency" icon="floppy-o" action-title="Save" submit-action="setBespokeCurrency()" visible="mw.bespokeCurrencyModal.visibility">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="postcode" class="form-control"
                        data-smart-validate-input data-required
                        data-message-required="Enter bespoke currency code"
                        placeholder="Bespoke Code" ng-model="mw.bespokeCurrencyModal.data.bespoke" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="city" class="form-control"
                        data-smart-validate-input data-required
                        data-message-required="Enter ISO currency code"
                        placeholder="ISO Code" ng-model="mw.bespokeCurrencyModal.data.iso" required />
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Information -->
    <div cvs-modal-window title="Edit Company Information" icon="floppy-o" action-title="Save" submit-action="editCompanyInformation()" visible="mw.editCompanyInfoModal.visibility">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="text" name="reg-num" class="form-control"
                        data-smart-validate-input data-required
                        data-message-required="Enter the company registration number"
                        placeholder="Company Registration Number" ng-model="mw.editCompanyInfoModal.data.reg_number" />
                </div>
                <div class="form-group">
                    <input type="text" name="name" class="form-control" 
                        data-smart-validate-input data-required
                        data-message-required="Enter the company name"
                        placeholder="Company Name" ng-model="mw.editCompanyInfoModal.data.name" />
                </div>
                <div class="form-group">
                    <input type="text" name="prim_address" class="form-control"
                        data-smart-validate-input data-required
                        data-message-required="Enter the company's primary address"
                        placeholder="Primary Address" ng-model="mw.editCompanyInfoModal.data.primary_address" />
                </div>
                <div class="form-group">
                    <input type="text" name="sec_address" class="form-control"
                        data-smart-validate-input
                        placeholder="Secondary Address" ng-model="mw.editCompanyInfoModal.data.secondary_address" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="postcode" class="form-control"
                        data-smart-validate-input data-required
                        data-message-required="Enter the company's postal code"
                        placeholder="Postal Code" ng-model="mw.editCompanyInfoModal.data.postcode" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="city" class="form-control"
                        data-smart-validate-input data-required
                        data-message-required="Enter the company's city"
                        placeholder="City" ng-model="mw.editCompanyInfoModal.data.city" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <select class="form-control" id="country" name="country" ng-model="mw.editCompanyInfoModal.data.country"
                        data-smart-validate-input data-required data-message-required="Select the company's country">
                        <option value="" selected="" disabled="">Country</option>
                        <option value="{{key}}" ng-repeat="(key, value) in countries" >{{value}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="phone" class="form-control"
                        data-smart-validate-input data-required
                        data-message-required="Enter the company's phone number"
                        placeholder="Phonenumber" ng-model="mw.editCompanyInfoModal.data.phone" />
                </div>
            </div>
        </div>
    </div>

    <!-- Attach Managing Account -->
    <div cvs-modal-window title="Attach Managing Account" icon="plus" action-title="Attach" submit-action="attachManagingAccount()" visible="mw.attachManagingAccountModal.visibility">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <select class="form-control" id="account" name="account" ng-model="mw.attachManagingAccountModal.data.id"
                        data-smart-validate-input data-required data-message-required="Select a managing account">
                        <option value="" selected="" disabled="">Managing Account</option>
                        <option value="{{user.id}}" ng-repeat="user in user_profiles">{{user.first_name}} {{user.last_name}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <!-- Attach to Company -->
    <div cvs-modal-window title="Attach to Company" icon="plus" action-title="Attach" submit-action="attachToCompany()" visible="mw.attachToCompanyModal.visibility">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <select class="form-control" id="company" name="company" ng-model="mw.attachToCompanyModal.data.id"
                        data-smart-validate-input data-required data-message-required="Select a parent company">
                        <option value="" selected="" disabled="">Parent Company</option>
                        <option value="{{company.id}}" ng-repeat="company in company.list">{{company.name}} [Company ID: {{company.id}}]</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
