<div class="well well-light well-sm no-margin no-padding">
    <div class="row">
        <div class="col-sm-12">
            <div id="myCarousel" class="carousel fade profile-carousel">
                <div class="air air-bottom-right padding-10">
                    <div data-dropdown>
                        <a id="dLabel" role="button" class="btn btn-lg btn-success dropdown-toggle" href-void><i class="fa fa-cogs"></i> Actions <span class="caret"></span> </a>
                        <ul class="dropdown-menu multi-level" role="menu">
                            <li>
                                <a href-void ng-click="showModal('editProfileInfoModal')">Edit Info</a>
                            </li>
                            <li>
                                <a href-void ng-click="toggleStatus()">Toggle Status</a>
                            </li>
                            <li>    
                                <a href-void ng-click="showModal('attachToCompanyModal')">Attach to Company</a>
                            </li>
                            <li>
                                <a href-void ng-click="showModal('addFreeProductsModal')">Add Free Products</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href-void ng-click="deleteProfile(user.employeeId)"><i class="fa fa-trash-o"></i> Delete Account</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="air air-top-left padding-10">
                    <h4 class="txt-color-white font-md"><strong>Jan 1, 2014</strong></h4>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                </ol>
                <div class="carousel-inner">
                    <!-- Slide 1 -->
                    <div class="item active">
                        <img src="assets/img/demo/s1.jpg" alt="demo user">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-3 profile-pic">
                    <img ng-src="{{user.photoPath}}" alt="demo user">
                </div>
                <div class="col-sm-6">
                    <h1>{{user.firstName}} <span class="semi-bold">{{user.lastName}}</span></h1>
                    <span ng-show="user.active"><span class="label label-success">Active</span></span>
                    <span ng-hide="user.active"><span class="label label-danger">Inactive</span></span>
                    <h1><small>{{user.employer.name}}</small></h1>
                    <ul class="list-unstyled">
                        <li ng-show="user.employer.phone">
                            <p class="text-muted">
                                <i class="fa fa-phone"></i>&#xA0;&#xA0;{{user.employer.phoneNumber}}
                            </p>
                        </li>
                        <li>
                            <p class="text-muted">
                                <i class="fa fa-envelope"></i>&#xA0;&#xA0;<a href="mailto:{{user.email}}">{{user.email}}</a>
                            </p>
                        </li>
                    </ul>
                    <br>
                </div>
                <div class="col-sm-3">
                    <h1>
                        <small>Colleagues</small>
                    </h1>
                    <ul class="list-inline friends-list">
                        <li>
                            <img src="assets/img/avatars/1.png" alt="friend-1">
                        </li>
                        <li>
                            <img src="assets/img/avatars/2.png" alt="friend-2">
                        </li>
                        <li>
                            <img src="assets/img/avatars/3.png" alt="friend-3">
                        </li>
                        <li>
                            <img src="assets/img/avatars/4.png" alt="friend-4">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr />
            <div class="padding-10">
                <ul class="nav nav-tabs tabs-pull-right">
                    <li class="active">
                        <a href="#a1" data-toggle="tab">Usage Statistics</a>
                    </li>
                </ul>
                <div class="tab-content padding-top-10">
                    <div class="tab-pane fade in active" id="a1">
                        Usage statistics can be added here!
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

    <!-- Edit Information -->
    <div cvs-modal-window title="Edit Profile Information" icon="floppy-o" action-title="Save" submit-action="editProfileInformation()" visible="mw.editProfileInfoModal.visibility">
        <div class="row">
            <div class="col-md-12">
                <div class="alert fade in" ng-class="{'alert-danger': mw.editProfileInfoModal.data.message.type == 'error', 'alert-info': mw.editProfileInfoModal.data.message.type == 'info'}" ng-show="mw.editProfileInfoModal.data.message">
                    <i class="fa-fw fa" ng-class="{'fa-times': mw.editProfileInfoModal.data.message.type == 'error', 'fa-check': mw.editProfileInfoModal.data.message.type == 'info'}"></i>
                    {{mw.editProfileInfoModal.data.message.text}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="first_name" class="form-control"
                        data-smart-validate-input data-required
                        data-message-required="Please enter the account holder's first name"
                        placeholder="First Name" ng-model="mw.editProfileInfoModal.data.firstName" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="last_name" class="form-control"
                        data-smart-validate-input data-required
                        data-message-required="Please enter the account holder's last name"
                        placeholder="Last Name" ng-model="mw.editProfileInfoModal.data.lastName" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="text" name="email" class="form-control"
                        data-smart-validate-input data-required data-email
                        data-message-required="Please enter the account holder's email"
                        data-message-email="Please enter a valid email address"
                        placeholder="Email" ng-model="mw.editProfileInfoModal.data.email" />
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control"
                        data-smart-validate-input data-minlength="3" data-maxnlength="20"
                        placeholder="Password" ng-model="mw.editProfileInfoModal.data.password" />
                </div>
                <div class="form-group">
                    <input type="password" name="re_password" class="form-control"
                        data-smart-validate-input data-minlength="3" data-maxnlength="20"
                        placeholder="Retype Password" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <select ui-select2 multiple="multiple" ng-model="mw.editProfileInfoModal.data.roles" style="width:100%" class="select2">
                    <option ng-repeat="role in roles.list" value="{{role.roleId}}">{{role.label}}</option>
                </select>
            </div>
        </div>
    </div>

    <!-- Attach to Company -->
    <div cvs-modal-window title="Attach to Company" icon="plus" action-title="Attach" submit-action="attachToCompany()" visible="mw.attachToCompanyModal.visibility">
        <div class="row">
            <div class="col-md-12">
                <div class="alert fade in" ng-class="{'alert-danger': mw.attachToCompanyModal.data.message.type == 'error', 'alert-info': mw.attachToCompanyModal.data.message.type == 'info'}" ng-show="mw.attachToCompanyModal.data.message">
                    <i class="fa-fw fa" ng-class="{'fa-times': mw.attachToCompanyModal.data.message.type == 'error', 'fa-check': mw.attachToCompanyModal.data.message.type == 'info'}"></i>
                    {{mw.attachToCompanyModal.data.message.text}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <select class="form-control" id="company" name="company" ng-model="mw.attachToCompanyModal.data.id"
                        data-smart-validate-input data-required data-message-required="Select a parent company">
                        <option value="-1" selected="" disabled="">Parent Company</option>
                        <option value="0">Remove From Company</option>
                        <option value="{{company.companyId}}" ng-repeat="company in company.list">{{company.name}} [Company ID: {{company.companyId}}]</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Free Products -->
    <div cvs-modal-window title="Add Free Products" icon="plus" action-title="Attach" submit-action="addFreeProducts()" visible="mw.addFreeProductsModal.visibility">
        <div class="row">
            <div class="col-md-12">
                <div class="alert fade in" ng-class="{'alert-danger': mw.addFreeProductsModal.data.message.type == 'error', 'alert-info': mw.addFreeProductsModal.data.message.type == 'info'}" ng-show="mw.addFreeProductsModal.data.message">
                    <i class="fa-fw fa" ng-class="{'fa-times': mw.addFreeProductsModal.data.message.type == 'error', 'fa-check': mw.addFreeProductsModal.data.message.type == 'info'}"></i>
                    {{mw.addFreeProductsModal.data.message.text}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    <select class="form-control" id="product" name="product" ng-model="mw.addFreeProductsModal.data.id"
                        data-smart-validate-input data-required data-message-required="Select a product">
                        <option value="" selected="" disabled="">Product</option>
                        <option value="{{product.productId}}" ng-repeat="product in product.list">{{product.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input type="text" name="last_name" class="form-control"
                        data-smart-validate-input data-required
                        data-message-required="Quantity"
                        placeholder="Qty" ng-model="mw.addFreeProductsModal.data.qty" />
                </div>
            </div>
        </div>
    </div>
</div>
