<div>
    <!-- Companies List -->
    <div jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-editbutton="false">
        <header>
            <span class="widget-icon"> <i class="fa fa-building"></i> </span>
            <h2>Companies</h2>
            <div class="widget-toolbar">
                <button class="btn btn-success" ng-click="showModal()"><i class="fa fa-plus"></i> Add Company</button>
                <button class="btn btn-primary" ng-click="refreshList()"><i class="fa fa-refresh"></i></button>
            </div>
        </header>
        <div>
            <div class="widget-body no-padding">
                <table datatable-basic class="table table-striped table-bordered table-hover" width="100%">
                    <thead>
                        <tr>
                            <th data-hide="phone">ID</th>
                            <th data-class="expand"><i class="fa fa-fw fa-pencil text-muted hidden-md hidden-sm hidden-xs"></i> Registration Number</th>
                            <th><i class="fa fa-fw fa-building text-muted hidden-md hidden-sm hidden-xs"></i> Name</th>
                            <th data-hide="phone,tablet"><i class="fa fa-fw fa-phone text-muted hidden-md hidden-sm hidden-xs"></i> Phone Number</th>
                            <th data-hide="phone"><i class="fa fa-fw fa-map-marker text-muted hidden-md hidden-sm hidden-xs"></i> Primary Address</th>
                            <th data-hide="phone"><i class="fa fa-fw fa-map-marker text-muted hidden-md hidden-sm hidden-xs"></i> Secondary Address</th>
                            <th data-hide="phone,tablet"><i class="fa fa-fw fa-map-marker text-muted hidden-md hidden-sm hidden-xs"></i> Postal Code</th>
                            <th data-hide="phone,tablet"><i class="fa fa-fw fa-globe text-muted hidden-md hidden-sm hidden-xs"></i> City</th>
                            <th data-hide="phone,tablet"><i class="fa fa-fw fa-globe text-muted hidden-md hidden-sm hidden-xs"></i> Country</th>
                            <th data-hide="phone,tablet"><i class="fa fa-fw fa-info text-muted hidden-md hidden-sm hidden-xs"></i> Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="company in company.list">
                            <td align="center">{{company.companyId}}</td>
                            <td>{{company.registrationNumber}}</td>
                            <td>{{company.name}}</td>
                            <td>{{company.phoneNumber}}</td>
                            <td>{{company.primaryAddress}}</td>
                            <td>{{company.secondaryAddress}}</td>
                            <td>{{company.postcode}}</td>
                            <td>{{company.city}}</td>
                            <td>{{company.country.name}}</td>
                            <td align="center">
                                <a ui-sref="app.company.details({companyId: company.companyId})" class="btn btn-primary btn-xs"><i class="fa fa-info"></i> Details</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Companies List -->
    
    <!-- Add Company Modal -->
    <div cvs-modal-window title="Add New Company" icon="plus" action-title="Add Company" submit-action="addNewCompany()" visible="modalVisibility">
        <div class="row">
            <div class="col-md-12">
                <div class="alert fade in" ng-class="{'alert-danger': nc.message.type == 'error', 'alert-info': nc.message.type == 'info'}" ng-show="nc.message">
                    <i class="fa-fw fa" ng-class="{'fa-times': nc.message.type == 'error', 'fa-check': nc.message.type == 'info'}"></i>
                    {{nc.message.text}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="text" name="reg-num" class="form-control"
						data-smart-validate-input data-required
						data-message-required="Enter the company registration number"
                    	placeholder="Company Registration Number" ng-model="nc.reg_number" />
                </div>
                <div class="form-group">
                    <input type="text" name="name" class="form-control" 
                    	data-smart-validate-input data-required
						data-message-required="Enter the company name"
                    	placeholder="Company Name" ng-model="nc.name" />
                </div>
                <div class="form-group">
                    <input type="text" name="prim_address" class="form-control"
                    	data-smart-validate-input data-required
						data-message-required="Enter the company's primary address"
                    	placeholder="Primary Address" ng-model="nc.primary_address" />
                </div>
                <div class="form-group">
                    <input type="text" name="sec_address" class="form-control"
                    	data-smart-validate-input
                    	placeholder="Secondary Address" ng-model="nc.secondary_address" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="postcode" class="form-control"
                    	data-smart-validate-input data-required
						data-message-required="Enter the company's postal code"
                    	placeholder="Postal Code" ng-model="nc.postcode" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="city" class="form-control"
                    	data-smart-validate-input data-required
						data-message-required="Enter the company's city"
                    	placeholder="City" ng-model="nc.city" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <select class="form-control" id="country" name="country" ng-model="nc.country"
                    	data-smart-validate-input data-required data-message-required="Select the company's country">
                        <option value="" selected="" disabled="">Country</option>
                        <option value="{{country.countryId}}" ng-repeat="country in country.list" >{{country.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="phone" class="form-control"
                    	data-smart-validate-input data-required
						data-message-required="Enter the company's phone number"
                    	placeholder="Phonenumber" ng-model="nc.phone" />
                </div>
            </div>
        </div>
    </div>
</div>
