<div id="content">
    <!-- widget grid -->
    <section id="widget-grid" widget-grid>
        <!-- row -->
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Owned Products</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <table datatable-basic class="table table-striped table-bordered table-hover" width="100%">
                            <thead>
                                <tr>
                                    <th data-hide="phone">ID</th>
                                    <th data-class="expand"><i class="fa fa-fw fa-archive text-muted hidden-md hidden-sm hidden-xs"></i> Product Name</th>
                                    <th data-hide="phone"><i class="fa fa-fw fa-building text-muted hidden-md hidden-sm hidden-xs"></i> Owned By</th>
                                    <th data-hide="phone">Quantity</th>
                                    <th data-hide="phone,tablet"><i class="fa fa-fw fa-cogs text-muted hidden-md hidden-sm hidden-xs"></i> Generate</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Market Analysis Report</td>
                                    <td>Customer Value</td>
                                    <td>10</td>
                                    <td align="center">
                                        <a href-void class="btn btn-primary btn-xs"><i class="fa fa-cogs"></i> Generate</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Predictive Report</td>
                                    <td>Customer Value</td>
                                    <td>4</td>
                                    <td align="center">
                                        <a href-void class="btn btn-primary btn-xs"><i class="fa fa-cogs"></i> Generate</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>NewBiz Report</td>
                                    <td>Customer Value</td>
                                    <td>2</td>
                                    <td align="center">
                                        <a href-void class="btn btn-primary btn-xs"><i class="fa fa-cogs"></i> Generate</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Lalala Report</td>
                                    <td>Customer Value</td>
                                    <td>6</td>
                                    <td align="center">
                                        <a href-void class="btn btn-primary btn-xs"><i class="fa fa-cogs"></i> Generate</a>
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
