<div id="content">
	<div class="row">
		<div class="col-sm-12">
			<div class="well well-light">
				<div class="row">
			        <div class="col-xs-12 col-sm-6 col-md-3">
			            <div class="panel panel-success pricing-big">
			                <div class="panel-heading">
			                    <h3 class="panel-title">New Biz Report</h3>
			                </div>
			                <div class="panel-body no-padding text-align-center">
			                    <div class="the-price">
			                        <h1>5000:-<span class="subscript">/ report</span></h1>
			                    </div>
								<div class="price-features">
									<ul class="list-unstyled text-left">
										<li><i class="fa fa-check text-success"></i> Analyze your sales data!</strong></li>
										<li><i class="fa fa-check text-success"></i> Generate your reports online!</li>
										<li><i class="fa fa-check text-success"></i> Blah blah blah!</li>
										<li><i class="fa fa-check text-success"></i> Lalalalala!</li>
										<li><i class="fa fa-check text-success"></i> Blah blah blah!</li>
										<li><i class="fa fa-check text-success"></i> Lalalalala!</li>
										<li><i class="fa fa-check text-success"></i> Blah blah blah!</li>
							        </ul>
								</div>
			                </div>
			                <div class="panel-footer text-align-center">
			                    <a href-void class="btn btn-success btn-block" role="button"><i class="fa fa-shopping-cart"></i> Add to Cart!</a>
			                </div>
			            </div>
			        </div>
			        <div class="col-xs-12 col-sm-6 col-md-3">
			            <div class="panel panel-primary pricing-big">
			            	<img src="assets/img/ribbon.png" class="ribbon" alt>
			                <div class="panel-heading">
			                    <h3 class="panel-title">Predictive Report</h3>
			                </div>
			                <div class="panel-body no-padding text-align-center">
			                    <div class="the-price">
			                        <h1>50000:-<span class="subscript">/ report</span></h1>
			                    </div>
								<div class="price-features">
									<ul class="list-unstyled text-left">
										<li><i class="fa fa-check text-success"></i> Predict the future!</li>
										<li><i class="fa fa-check text-success"></i> Segment your customers!</li>
										<li><i class="fa fa-check text-success"></i> Apply targeted marketing to your customers!</li>
										<li><i class="fa fa-check text-success"></i> Lalalalala!</li>
										<li><i class="fa fa-check text-success"></i> Lalalalala!</li>
										<li><i class="fa fa-check text-success"></i> Lalalalala!</li>
										<li><i class="fa fa-check text-success"></i> Lalalalala!</li>
							        </ul>
								</div>
			                </div>
			                <div class="panel-footer text-align-center">
			                    <a href-void class="btn btn-primary btn-block" role="button"><i class="fa fa-shopping-cart"></i> Add to Cart, <span>NOW!</span></a>
			                </div>
			            </div>
			        </div>		    	
	    		</div>	
			</div>
		</div>
	</div>
</div>