<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="product in product.list">
	    <div class="panel pricing-big" ng-class="{'panel-success': !product.popular, 'panel-primary': product.popular}">
	    	<img ng-show="product.popular" ng-src="assets/img/ribbon.png" class="ribbon" alt>
	        <div class="panel-heading">
	            <h3 class="panel-title">{{product.name}}</h3>
	        </div>
	        <div class="panel-body no-padding text-align-center">
	            <div class="the-price">
	                <h1>{{product.unitPrice}}:-<span class="subscript">/ report</span></h1>
	            </div>
				<div class="price-features">
					<ul class="list-unstyled text-left">
						<li><i class="fa fa-check text-success"></i>&nbsp;{{product.info | split:'!':0}}!</li>
						<li><i class="fa fa-check text-success"></i>&nbsp;{{product.info | split:'!':1}}!</li>
						<li><i class="fa fa-check text-success"></i>&nbsp;{{product.info | split:'!':2}}!</li>
						<li><i class="fa fa-check text-success"></i>&nbsp;{{product.info | split:'!':3}}!</li>
						<li><i class="fa fa-check text-success"></i>&nbsp;{{product.info | split:'!':4}}!</li>
						<li><i class="fa fa-check text-success"></i>&nbsp;{{product.info | split:'!':5}}!</li>
						<li><i class="fa fa-check text-success"></i>&nbsp;{{product.info | split:'!':6}}!</li>
			        </ul>
				</div>
	        </div>
	        <div class="panel-footer text-align-center">
	            <a href-void class="btn btn-block" ng-class="{'btn-success': !product.popular, 'btn-primary': product.popular}" role="button" ng-click="addItemToBasket(product)"><i class="fa fa-shopping-cart"></i> Add to Cart! <span ng-show="product.popular">NOW!</span></a>
	        </div>
	    </div>
	</div>	
</div>
