<div id="content" data-sparkline-container data-easy-pie-chart-container>
	<!-- row -->
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="well well-sm">
				<!-- Timeline Content -->
				<div class="smart-timeline">
					<ul class="smart-timeline-list">
						<li>
							<div class="smart-timeline-icon">
								<img src="assets/img/avatars/george.png" width="32" height="32" alt="user">
							</div>
							<div class="smart-timeline-time">
								<small>just now</small>
							</div>
							<div class="smart-timeline-content">
								<p>
									<strong>Added a new compeny</strong>
								</p>
							</div>
						</li>
						<li>
							<div class="smart-timeline-icon">
								<i class="fa fa-file-text"></i>
							</div>
							<div class="smart-timeline-time">
								<small>1 min ago</small>
							</div>
							<div class="smart-timeline-content">
								<p>
									<strong>Microsoft successfully generated a report.</strong>
								</p>
							</div>
						</li>
						<li>
							<div class="smart-timeline-icon bg-color-greenDark">
								<i class="fa fa-bar-chart-o"></i>
							</div>
							<div class="smart-timeline-time">
								<small>5 hrs ago</small>
							</div>
							<div class="smart-timeline-content">
								<p>
									<strong class="txt-color-greenDark">Began generation of graphs for Microsoft NewBiz report.</strong>
								</p>
							</div>
						</li>
						<li>
							<div class="smart-timeline-icon">
								<i class="fa fa-user"></i>
							</div>
							<div class="smart-timeline-time">
								<small>yesterday</small>
							</div>
							<div class="smart-timeline-content">
								<p>
									<a href-void><strong>Update user information</strong></a>
								</p>
								<p>
									Updated account information for user George Kallergis (ID: 1345).
								</p>
							</div>
						</li>
						<li>
							<div class="smart-timeline-icon">
								<i class="fa fa-pencil"></i>
							</div>
							<div class="smart-timeline-time">
								<small>12 Mar, 2013</small>
							</div>
							<div class="smart-timeline-content">
								<p>
									<a href-void><strong>Old Stuff</strong></a>
								</p>
								<p>
									Waaaaaay old! :D
								</p>
							</div>
						</li>
						<li class="text-center">
							<a href-void class="btn btn-sm btn-default"><i class="fa fa-arrow-down text-muted"></i> LOAD MORE</a>
						</li>
					</ul>
				</div>
				<!-- END Timeline Content -->
			</div>
		</div>
	</div>
	<!-- end row -->
</div>