<div>
	<!-- Profiles List -->
	<div jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-editbutton="false">
	    <header>
	        <span class="widget-icon"> <i class="fa fa-users"></i> </span>
	        <h2>User Profiles</h2>
	        <div class="widget-toolbar">
	            <button class="btn btn-success" ng-click="showModal()"><i class="fa fa-plus"></i> Add Profile</button>
                <button class="btn btn-primary" ng-click="refreshList()"><i class="fa fa-refresh"></i></button>
	        </div>
	    </header>
	    <div>
	        <div class="widget-body no-padding">
		        <table datatable-basic class="table table-striped table-bordered table-hover" width="100%">
			        <thead>
			        <tr>
			            <th data-hide="phone">ID</th>
			            <th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Full Name</th>
			            <th><i class="fa fa-fw fa-building text-muted hidden-md hidden-sm hidden-xs"></i> Company</th>
			            <th data-hide="phone"><i class="fa fa-fw fa-phone text-muted hidden-md hidden-sm hidden-xs"></i> Company Phone</th>
			            <th data-hide="phone,tablet"><i class="fa fa-fw fa-globe text-muted hidden-md hidden-sm hidden-xs"></i> Company City</th>
			            <th data-hide="phone,tablet"><i class="fa fa-fw fa-map-marker text-muted hidden-md hidden-sm hidden-xs"></i> Company Zip</th>
			            <th data-hide="phone,tablet"><i class="fa fa-fw fa-cogs text-muted hidden-md hidden-sm hidden-xs"></i> Status</th>
			            <th data-hide="phone,tablet"><i class="fa fa-fw fa-info text-muted hidden-md hidden-sm hidden-xs"></i> Details</th>
			            <th data-hide="phone,tablet"><i class="fa fa-fw fa-times text-muted hidden-md hidden-sm hidden-xs"></i> Delete</th>
			        </tr>
			        </thead>
			        <tbody>
			        	<tr ng-repeat="profile in profile.list">
                            <td align="center">{{profile.employeeId}}</td>
                            <td>{{profile.firstName}} {{profile.lastName}}</td>
                            <td>{{profile.employer.name}}</td>
                            <td>{{profile.employer.phoneNumber}}</td>
                            <td>{{profile.employer.city}}</td>
                            <td>{{profile.employer.postcode}}</td>
                            <td align="center">
                                <span ng-show="profile.active"><span class="label label-success">Active</span></span>
                                <span ng-hide="profile.active"><span class="label label-danger">Inactive</span></span>
                            </td>
                            <td align="center">
                                <a ui-sref="app.profile.details({profileId: profile.employeeId})" class="btn btn-primary btn-xs"><i class="fa fa-info"></i> Details</a>
                            </td>
                            <td align="center">
                                <button class="btn btn-danger btn-xs" data-ng-click="deleteProfile(profile.employeeId)"><i class="fa fa-times"></i> Delete</button>
                            </td>
                        </tr>
			        </tbody>
		        </table>
	        </div>
	    </div>
	</div>
	<!-- Profiles List -->

	<!-- Add Profile Modal -->
    <div cvs-modal-window title="Add New Profile" icon="plus" action-title="Add Profile" submit-action="addNewProfile()" visible="modalVisibility">
        <div class="row">
            <div class="col-md-12">
                <div class="alert fade in" ng-class="{'alert-danger': registration.message.type == 'error', 'alert-info': registration.message.type == 'info'}" ng-show="registration.message">
                    <i class="fa-fw fa" ng-class="{'fa-times': registration.message.type == 'error', 'fa-check': registration.message.type == 'info'}"></i>
                    {{registration.message.text}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="first_name" class="form-control"
                        data-smart-validate-input data-required
                        data-message-required="Please enter the account holder's first name"
                        placeholder="First Name" ng-model="np.first_name" required />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="last_name" class="form-control"
                        data-smart-validate-input data-required
                        data-message-required="Please enter the account holder's last name"
                        placeholder="Last Name" ng-model="np.last_name" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="text" name="email" class="form-control"
                        data-smart-validate-input data-required data-email
                        data-message-required="Please enter the account holder's email"
                        data-message-email="Enter a valid email address"
                        placeholder="Email" ng-model="np.email" required />
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control"
                        data-smart-validate-input data-required
                        data-message-required="Enter account password"
                        placeholder="Password" ng-model="np.password" required />
                </div>
                <div class="form-group">
                    <input type="password" name="re_password" class="form-control"
                        data-smart-validate-input data-required
                        data-message-required="Retype account password"
                        placeholder="Retype Password" required />
                </div>
            </div>
        </div>
    </div>
    <!-- Add Profile Modal -->
</div>
